<nav class="navbar">
  <a routerLink="/" class="logo">QuickZey</a>
  <a routerLink="/">Home</a>
  <a routerLink="/categories">Categories</a>
  <!-- <a routerLink="/cart">Cart ({{ cartCount }})</a> -->
   <a routerLink="/cart">Cart 15</a>

  <!-- <div class="user-dropdown" *ngIf="user">
    <span (click)="toggleDropdown()">user.name ▼</span>
    <ul *ngIf="showDropdown">
      <li routerLink="/orders">Orders</li>
      <li routerLink="/profile">Profile</li>
      <li routerLink="/change-password">Change Password</li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div> -->
</nav>
