/* ===== Global Styles ===== */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a global font */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
.bg-teal {
  background-color: teal !important;
}

.btn-teal {
  background-color: #006666;
  color: #fff;
  transition: 0.3s;
}

.btn-teal:hover {
  background-color: #004d4d;
  color: #fff;
}
